@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif !important;
}
.index_btn {margin-right: 15px;}

.table td, .table th {
    font-size: 14px !important;
    font-weight: bold !important;
}

i {margin-right: 5px;}
